<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.braintreepayments.api.googlepayment">

    <uses-sdk tools:overrideLibrary="com.braintreepayments.api,com.braintreepayments.api.core,com.paypal.android.sdk.onetouch.core,com.paypal.android.sdk" />
    <application>
        <activity
            android:name="com.braintreepayments.api.GooglePaymentActivity"
            android:theme="@style/bt_transparent_activity" />
    </application>
</manifest>
